@font-face{
  font-family: 'Bebas';
  src: url( ../fonts/bebas.ttf);
}

body{
  background: #030819;
  color: white;
  font-family: Bebas, sans-serif;
  margin-top: 90px;
}

hr{
  background: white;
}

.full{
  height: 100vh !important;
}

.background2{
  background-image: url("../assets/PNG/Division.png");
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center center;
  width: auto;
  height: 20vh;
}




.fill {
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center;
    background-image: url('../assets/PNG/Curva1.png');
}



.full{
  height: 100vh !important;
}


.navbar{
  background-color: transparent;
  height: 50px;
}

.navbar-nav .nav-link{
  font-size: 1.3em;
}

.slide-up{
  transform: translateY(-50px);
  -webkit-transition: ease-in .5s;
  transition: ease-in .5s;
}






/*HOME*/

.texto-inicio{
  font-size: 5em;
  color: #29a9e1;
}

.parrafo-inicio{
  font-size: 1.5em;

}


.boton-home1{
   width: 150px;
  height: auto;
  border-radius: 40px;
  background:  #29a9e1;
  color: #030819;
}

.boton-home1:hover{
   transform: scale(1.2);
}


.boton-home2{
  width: 170px;
  height: auto;
  border-radius: 40px;
  background:  rgba(41, 169, 224, 0.3);
  margin-left: 5%;
  color: white;
  border: 2px solid #29a9e1;
}

.boton-home2:hover{
    transform: scale(1.2);
}

.rrss{
  margin-top: 12%;
}

.rrss-hr{

  margin-top: 25%;
}


.conocenos-parrafo{
  font-size: 1.3em;
  margin-top: 40px;
}


.parrafo-como-funciona{
  font-size: 1.2em;
}

.video-referencial{
  font-size: 2em;
  text-decoration: none;
}

.video-referencial:hover{
  text-decoration: none;
}

.title-carousel{
  text-align: center;
  color: #29a9e1;
}

.fa-play-circle{
  color: #29a9e1;
}




















/*CONTACTO*/

 label{
  margin-top: 15px;
 }

.form-control{
  background:#030819;
  border: 2px solid  #29a9e1;
  border-radius: 0;
}
 .enviar{
  width: 140px;
  height: auto;
  border-radius: 40px;
  color: #030819;
 }

 .enviar:hover{
  background: #030819;
  color: #29a9e1;
  transform: scale(1.1);
 }













a{
  color: white;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: #29a9e1;
}
.cont{
  margin-top: 0px;
}



li.menu-footer{
  list-style: none;
  margin-left: -40px;
  text-decoration: none;
}


.owl-item {
  color: #29a9e1;
}






/*More Info*/

.more-info{
  margin-top: 20px;
  margin-bottom: 20px;
}


.solicitud{
  font-size: 2em;
  text-align: center;
  padding-left: 40px;
}

.boton-more{
  background-color:#29a9e1;
  border-radius: 45px;
  width: 200px;
  height: auto;
  font-size: 1.3em;
  color: #030819;
}

.boton-more:hover{
  color: #29a9e1;
  background:#030819;
  transform: scale(1.2);
  border-color: #29a9e1;

}



.boton-enviar{
  background-color:#29a9e1;
  width: 200px;
  height: auto;
  font-size: 1em;
  color: #030819;
}


.boton-enviar:hover{
  color: #29a9e1;
  background:#030819;
  transform: scale(1.2);
  border-color: #29a9e1
}





.follow-p{
  display: inline-block;
  justify-content: center;
  font-size: 2em;
}

.follow-icon{
  width: 40px;
  justify-content:
  center;text-align: center;
}

.fa-instagram:hover{
  color: #29a9e1;
  transform: scale(1.2);
}

.fa-facebook:hover{
  color: #29a9e1;
  transform: scale(1.2);
}

.fa-twitter:hover{
  color: #29a9e1;
  transform: scale(1.2);
}


.custom-toggler.navbar-toggler {
    border-color: rgb(41,169,225);
}

.default-menu{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255 ,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

.active-menu{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0 ,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

input.form-control:focus{

  background-color: transparent;

  background-color: rgba(41, 169, 224, 0.9);

  border-color: transparent;
  color: white;
}

textarea.form-control:focus{
  background-color: transparent;
  background-color: rgba(41, 169, 224, 0.9);
  border-color: transparent;
  color: white;
}






/* HR */

.top-container{
width:100%;
height:auto;
}
.top-container img{
width:100%;
height:100%;

z-index:1;
}


@media screen and (max-width: 500px){
  .img-inicial{
    display: none;
  }

  .img-conocenos{
    display: none;
  }

  .fill{
    background-image: none;
  }

  section{
    height: auto;
  }

  .full{
    display: auto;
  }
}