@font-face{
  font-family: 'Bebas';
  src: url( ../fonts/bebas.ttf);
}

body{
  background: #030819;
  color: white;
  margin: 0 auto;
  padding: 0;
  font-family: Bebas, sans-serif; 
}

hr{
  background: white;
}

section{
  height: 100vh !important;
  position: relative;

}

.center{
   margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fill {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/PNG/Curva1.png');
}



/*HOME*/

.texto-inicio{
  font-size: 5em;
  color: #29a9e1;
}

.parrafo-inicio{
  font-size: 1.5em;

}


.boton-home1{
   width: 150px;
  height: auto;
  border-radius: 40px;
  background:  #29a9e1;
  color: #030819;
}

.boton-home1:hover{
   transform: scale(1.2);
}


.boton-home2{
  width: 170px;
  height: auto;
  border-radius: 40px;
  background:  rgba(41, 169, 224, 0.3);
  margin-left: 5%;
  color: white;
  border: 2px solid #29a9e1;
}

.boton-home2:hover{
    transform: scale(1.2); 
}

.rrss{
  margin-top: 12%;
}

.rrss-hr{

  margin-top: 25%;
}