@font-face{
  font-family: 'Bebas';
  src: url( ../fonts/bebas.ttf);
}

body{
  background: #030819;
  color: white;
  font-family: Bebas, sans-serif;
  margin-top: 90px;
}

hr{
  background: white;
}

.full{
  height: 100vh !important;
}

.background2{
  background-image: url("../assets/PNG/Division.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: auto;
  height: 20vh;
}


.navbar{
  padding-left: 3%;
  padding-right: 5%;
}

.home{
  padding-left: 5%;
}



.fill {
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center;
    background-image: url('../assets/PNG/Curva1.png');
}



.full{
  width: 100%;
  height: 100vh !important;
}


.navbar{
  background-color: transparent;
  height: 70px;
}



.slide-up{
  transform: translateY(-75px);
  -webkit-transition: ease-in .5s;
  transition: ease-in .5s;
}


.navbar-expand-lg .navbar-nav .nav-link{
  font-size: 1.7em;
}

.h2-conocenos{
  margin-top: 5%;
}

.h2-comofuunciona{
  margin-top: 2%;
}


/*HOME*/

.texto-inicio{
  font-size: 4.5em;
  color: #29a9e1;
}

.parrafo-inicio{
  font-size: 1.2em;

}

.padding-logo{
  padding-top: 10px;
}

.tamaño-logo{
  width: 200px;
  height: auto;
}

.boton-home1{
   width: 150px;
  height: auto;
  border-radius: 40px;
  background:  #29a9e1;
  color: #030819;
}

.boton-home1:hover{
   transform: scale(1.2);
}


.boton-home2{
  width: 170px;
  height: auto;
  border-radius: 40px;
  background:  rgba(41, 169, 224, 0.3);
  margin-left: 5%;
  color: white;
  border: 2px solid #29a9e1;
}

.boton-home2:hover{
    transform: scale(1.2);
}

.rrss{
  margin-top: 12%;
}

.rrss-hr{

  margin-top: 25%;
}

.imagen-intro-home{
  width: 620px;
  height: auto;
}


.conocenos-parrafo{
  font-size: 1.6em;
  margin-top: 40px;
}


.parrafo-como-funciona{
  font-size: 1.2em;
}

.video-referencial{
  font-size: 2em;
  text-decoration: none;
}

.video-referencial:hover{
  text-decoration: none;
}

.title-carousel{
  text-align: center;
  color: #29a9e1;
}

.fa-play-circle{
  color: #29a9e1;
}



.h2-servicios{
  margin-top: 3%;
  margin-bottom: -2%;
}
















/*CONTACTO*/

 label{
  margin-top: 15px;
 }

.form-control{
  background:#030819;
  border: 2px solid  #29a9e1;
  border-radius: 0;
}
 .enviar{
  width: 140px;
  height: auto;
  border-radius: 40px;
  color: #030819;
 }

 .enviar:hover{
  background: #030819;
  color: #29a9e1;
  transform: scale(1.1);
 }













a{
  color: white;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: #29a9e1;
}
.cont{
  margin-top: 0px;
}



li.menu-footer{
  list-style: none;
  margin-left: -40px;
  text-decoration: none;
}


.owl-item {
  color: #29a9e1;
}






/*More Info*/

.more-info{
  margin-top: 20px;
  margin-bottom: 20px;
}


.solicitud{
  font-size: 2em;
  text-align: center;
  padding-left: 40px;
}

.boton-more{
  background-color:#29a9e1;
  border-radius: 45px;
  width: 200px;
  height: auto;
  font-size: 1.3em;
  color: #030819;
}

.boton-more:hover{
  color: #29a9e1;
  background:#030819;
  transform: scale(1.2);
  border-color: #29a9e1;

}



.boton-enviar{
  background-color:#29a9e1;
  width: 200px;
  height: auto;
  font-size: 1em;
  color: #030819;
}


.boton-enviar:hover{
  color: #29a9e1;
  background:#030819;
  transform: scale(1.2);
  border-color: #29a9e1
}





.follow-p{
  display: inline-block;
  justify-content: center;
  font-size: 2em;
}

.follow-icon{
  width: 40px;
  justify-content:
  center;text-align: center;
}

.fa-instagram:hover{
  color: #29a9e1;
  transform: scale(1.2);
}

.fa-facebook:hover{
  color: #29a9e1;
  transform: scale(1.2);
}

.fa-twitter:hover{
  color: #29a9e1;
  transform: scale(1.2);
}


.custom-toggler.navbar-toggler {
    border-color: rgb(41,169,225);
}

.default-menu{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255 ,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

.active-menu{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0 ,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

input.form-control:focus{

  background-color: transparent;



  border-color: transparent;
  color: white;
}

textarea.form-control:focus{
  background-color: transparent;

  border-color: transparent;
  color: white;
}






/* HR */

.top-container{
width:100%;
height:auto;
}
.top-container img{
width:100%;
height:100%;

z-index:1;
}





@media screen and (min-width: 1367px){
  
  .navbar-expand-lg .navbar-nav .nav-link{
    font-size: 1.4rem;
  }


  .texto-inicio{
    font-size: 4.5rem;
  }

  .boton-home1{
  width: 250px;
  height: auto;
  border-radius: 40px;
  background:  #29a9e1;
  color: #030819;
  font-size: 1.8rem;
}

.boton-home1:hover{
   transform: scale(1.2);
}


.boton-home2{
  width: 250px;
  height: auto;
  border-radius: 40px;
  background:  rgba(41, 169, 224, 0.3);
  margin-left: 5%;
  color: white;
  border: 2px solid #29a9e1;
  font-size: 1.8rem;
}

.boton-home2:hover{
    transform: scale(1.2);
}

.rrss{
  margin-top: 12%;
}

.rrss-hr{

  margin-top: 25%;
}



.imagen-intro-home{
  width: 850px;
  height: 1300;
}

.tamaño-logo{
  width: 250px;
  height: auto;
  padding-top: 15px;
}

.navbar-expand-lg .navbar-nav .nav-link{
  color: white;
  
}

.navbar-expand-lg .navbar-nav .nav-link{
  padding-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.parrafo-inicio{
  font-size: 1.7rem;
  font-family:Helvetica, sans-serif;

}

.h2-conocenos{
  font-size: 3.5rem;
}
.h2-comofunciona{
  font-size: 3.5rem;
}

.h2-servicios{
  font-size: 3.5rem;
}

.h2-galeria{
  font-size: 3.5rem;
}

.h2-blog{
  font-size: 3.5rem;
}
.h2-contact{
  font-size: 3.5rem;
}

.padding-container{
  padding-left: 5%;
  padding-right: 5%;
}

.conocenos-parrafo{
  font-size: 1.5rem;
  padding-top: 40px;
  font-family: Helvetica, sans-serif;
}

.img-conocenos{
  width: 100%;
  height: 650px;
 }

.parrafo-como-funciona{
  font-size: 1.4rem;
  font-family: Arial;
}

.icon-como-funciona{
  width: 250px;
  height: 270px;
}

label{
  font-size: 1.5rem;
}

.boton-enviar{
  background-color:#29a9e1;
  width: 170px;
  height: auto;
  font-size: 1.5rem;
  color: #030819;
  border-radius: 40px;
  border-color: #29a9e1;
  box-shadow: 3px 5px black;
}


.owl-prev {
  width: 15px;
  height: auto;
  position: absolute;
  top: 40%;
  margin-left: -20px;
  display: block;
  border:0px solid black;
}

.owl-next {
  width: 15px;
  height: auto;
  position: absolute;
  top: 40%;
  right: -25px;
  display: block !important;
  border:0px solid white;
   outline-style: unset;
   -webkit-appearance: none;
}
.owl-prev i, .owl-next i {
transform : scale(2);
outline: unset;
-webkit-appearance: none;
}

i:focus {
outline: none;
outline-offset: 4px;
background: #ffa;
}

}







@media screen and (max-width: 500px){
  .img-inicial{
    display: none;
  }


  .texto-inicio{
    text-align: center;
  }

  .parrafo-inicio{
    text-align: center;
  }

  .img-conocenos{
    display: none;
  }

  

  .rrss{
    margin-left: 35%;
  }

  .rrss-hr{
    display: none;
  }

  .fill{
    background-image: none;
  }

  .h2-conocenos{
    margin-top: 20%;
  }

  section{
    height: auto;
  }

  .full{
    height: auto !important;
  }

  .tamaño-logo{
    width: 100px;
    height: auto;
  }

  .padding-logo{
    padding-top: 0 !important;
  }

  .slide-up{
    transform: translateY(-90px);
  }

  .img-contact{
    display: none;
  }

  .more{
    display: none;
  }

  .rd-1{
    display: none;
  }

  .rd1{
    text-align: center;
  }

  .trabaja-con-nosotros{
    display: none;
  }

  .owl-carousel .owl-item img{
    width: 100px;
    height: auto;
  }

}




/* @media screen and (min-width: 1920px){
  .texto-inicio{
    font-size: 6rem;
  }

  .respon-1080{
    margin-top: 3%;
  }

  .imagen-intro-home{
    width: 1200px;
    height: 1400;
  }

  .tamaño-logo{
    width: 350px;
    height: auto;
    padding-top: 80px;
  }

  .navbar-expand-lg .navbar-nav .nav-link{
    font-size: 2rem;
  }

  .navbar-expand-lg .navbar-nav .nav-link{
    color: white;
  }

  .navbar-expand-lg .navbar-nav .nav-link{
    padding-top: 5rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .parrafo-inicio{
    font-size: 1.5rem;
    font-family:Helvetica, sans-serif;

  }

  .boton-home1{
    width: 250px;
    font-size: 2rem;
  }

  .boton-home2{
    width: 250px;
    font-size: 2rem;
  }

  .slide-up{
    transform: translateY(-200px);
  }

} */
